{% extends "base.html" %}

{% block title %}CitySubstationLinks Table{% endblock %}

{% block content %}
<h1>CitySubstationLinks Table</h1>
<div class="page-description">
    <p>City-Substation Links are energy-carrying relationships between a substation and city.
    </p>
    <ul>
        <li><strong>Substation:</strong> The name of the substation supplying the energy.</li>
        <li><strong>City:</strong> The name of the city receiving the energy.</li>
    </ul>
</div>
<form action="{{ url_for('update_city_substation_links') }}" method="post">
    <table border="1">
        <thead>
            <tr>
                <th>Link ID</th>
                <th>Substation</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><input type="hidden" name="link_id[]" value="{{ item.link_id }}">{{ item.link_id }}</td>
                <td>
                    <select name="substation_id[]" required>
                        {% for id, name in substations %}
                        <option value="{{ id }}" {% if id == item.substation_id %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="city_id[]" required>
                        {% for id, name in cities %}
                        <option value="{{ id }}" {% if id == item.city_id %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" formaction="{{ url_for('delete_city_substation_link') }}" formmethod="post" name="delete_link_id" value="{{ item.link_id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-action">
        <input type="submit" value="Update CitySubstationLinks">
    </div>
</form>
<form action="{{ url_for('create_city_substation_link') }}" method="post" class="create-form">
    <h3>Create a New City-Substation Link:</h3>
    <div class="form-group">
        <label for="substationID">Substation:</label>
        <select id="substationID" name="substationID" required>
            {% for id, name in substations %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="cityID">City:</label>
        <select id="cityID" name="cityID" required>
            {% for id, name in cities %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-action">
        <input type="submit" value="Add CitySubstationLink">
    </div>
</form>
{% endblock %}