{% extends "base.html" %}

{% block title %}PowerSources Table{% endblock %}

{% block content %}
    <h1>PowerSources Table</h1>
    <form action="{{ url_for('update_power_sources') }}" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>Power Source ID</th>
                    <th>Name</th>
                    <th>Power Source Type ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td><input type="hidden" name="power_source_id[]" value="{{ item.power_source_id }}">{{ item.power_source_id }}</td>
                    <td><input type="text" name="name[]" value="{{ item.name }}"></td>
                    <td><input type="text" name="power_source_type_id[]" value="{{ item.power_source_type_id }}"></td>
                    <td>
                        <button type="submit" formaction="{{ url_for('delete_power_source') }}" formmethod="post" name="delete_power_source_id" value="{{ item.power_source_id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-action">
            <input type="submit" value="Update Power Sources">
        </div>
    </form>
    <form action="{{ url_for('create_power_source') }}" method="post" class="create-form">
        <div class="form-group">
            <label for="power_source_id">Power Source ID:</label>
            <input type="text" id="power_source_id" name="power_source_id" required>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="power_source_type_id">Power Source Type ID:</label>
            <input type="text" id="power_source_type_id" name="power_source_type_id" required>
        </div>
        <div class="form-action">
            <input type="submit" value="Add Power Source">
        </div>
    </form>
{% endblock %}