<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubstationTypes Table</title>
    <style>
        .input-container {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-bottom: 20px;
        }
        label {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>Tables</h1>
    <ul>
        {% for table in tables %}
            <li><a href="{{ url_for(table.lower()) }}">{{ table }}</a></li>
        {% endfor %}
    </ul>
    <h1>SubstationTypes Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Substation Type ID</th>
                <th>Size</th>
                <th>Max Load</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mega</td>
                <td>2500.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Medium</td>
                <td>1000.00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Small</td>
                <td>500.00</td>
            </tr>
        </tbody>
    </table>
    <form action="#" method="post">
        <div class="input-container">
            <label for="substationTypeID">Substation Type ID:</label>
            <input type="number" id="substationTypeID" name="substationTypeID">
        </div>

        <div class="input-container">
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" maxlength="63">
        </div>

        <div class="input-container">
            <label for="maxload">Max Load:</label>
            <input type="number" id="maxload" name="maxload" step="0.01" min="0">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>